[Unit]
Description = uWSGI service for <APP_NAME> application
After = syslog.target


[Service]
ExecStart = <VIRTUALENV_PATH>/bin/uwsgi --ini <APP_PATH>/etc/uwsgi/<APP_NAME>.ini --enable-threads
RuntimeDirectory = uwsgi
Restart = always
KillSignal = SIGQUIT
Type = notify
StandardError = syslog
NotifyAccess = all


[Install]
WantedBy = multi-user.target
